{% extends "gallery/base_tag.html" %}

{% block extra_head %}
<script src="{{ rel_url }}/static/navigation.js" type="text/javascript"></script>
{% endblock %}

{% block prev_next %}
	 {% if previous %}
         <div class="prevthumb">
	   <a id="previousmedia"
              {% if event %}
	      href="{{ previous.event_url }}">
	      {% else %}
	      href="{{ previous.url }}"
              {% endif %}
	      >
	     <img alt="Previous" src="{{ previous.get_exported.thumb_url }}"/>
	     <br/>
	     Previous
	   </a>
	 </div>
	 {% endif %}

	 {% if next %}
	 <div class="nextthumb">
	   <a id="nextmedia"
              {% if event %}
	      href="{{ next.event_url }}">
	      {% else %}
	      href="{{ next.url }}">
              {% endif %}
	     <img alt="Next" src="{{ next.get_exported.thumb_url }}"/>
	     <br/>
	     Next
	   </a>
	 </div>
	 {% endif %}
{% endblock %}

{% block media_tags_events %}
	 <div id="tagsformedia" style="text-align: center; margin-top:24px;">
	 <a href="{{ media.url }}">Permanent link</a>
	   {% ifnotequal media.get_hits 1 %}
	   {{media.get_hits}} hits.
	   {% endifnotequal %}
	   Taken on <a href="{{media.same_day_url}}">{{media.get_date}}</a><br/>
	   {% if media.event %}
	   <a href="{{ media.event.url }}">Event {{ media.event.name }}</a><br/>
	     {% endif %}
	   {% if tag and slideshow_url %}
             <a href="{{ slideshow_url }}">Slideshow</a><br/>
	   {% endif %}
	   Tags:
	   {% for tag in media.get_tags %}
	   <a href="{{tag.url}}">{{tag.human_name}}</a>
	   {% endfor %}
	 </div>
{% endblock %}


