{% extends "gallery/base.html" %}

{% block body %}
  <div style="text-align: center;"> 
      <div id="randomthumbs">
          {% block random_thumbs_block %}Random thumbs{% endblock %}
      </div>
      <h2>Categories</h2>
      <div id="categories-cloud">
          {% block category_cloud_top %}Tag cloud{% endblock %}
      </div>
      <br/>
      <h2>Tags</h2>
      <div id="tag-cloud">
          {% block tag_cloud_top %}Tag cloud{% endblock %}
      </div>

      <div id="randomthumbs">
          {% block recent_thumbs_block %}Tag cloud{% endblock %}
      </div>
      <p id="recent-categories">
          {% block recent_categories_cloud %}Recent tags{% endblock %}
      </p>
      <p id="recent-tags">
          {% block recent_tags_cloud %}Recent tags{% endblock %}
      </p>
  </div>
{% endblock %}


  {% block random_thumbs %}Foo{% endblock %}
