<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/2000/REC-xhtml1-20000126/DTD/xhtml1-strict.dtd">
<html><head><!-- This makes IE6 suck less (a bit) -->
<title>{% block title %}Photos{% endblock %}</title>
    <link rel="alternate" type="application/rss+xml" 
	  title="Recent Comments" href="/gallery/feeds/comments" />
    <link rel="alternate" type="application/rss+xml" 
	  title="Recent Tags" href="/gallery/feeds/tags" />
    <link rel="alternate" type="application/rss+xml" 
	  title="Recent Photos" href="/gallery/feeds/photos" />

<link media="screen" href="/gallery/static/styles/dark/dark.css" 
      type="text/css" rel="stylesheet" title="dark"></link>
<link media="screen" href="/gallery/static/styles/classic/classic.css" 
      type="text/css" rel="alternate stylesheet" title="classic"></link>
<script src="/gallery/static/global.js"
	type="text/javascript"></script>
{% block extra_head %}{% endblock %}
</head>

<body>
    <h1 id="header" class="title"><a href="/gallery"></a></h1>
  <div>

    <div id="message">
      {% block message %}{% endblock %}
    </div>
    {% block body %}Body{% endblock %}
  </div>
  <div class="footer"> {{ copyright }}
    {{ author }}
    <br/>Web design based on
    <em>
      <a href="http://jimmac.musichall.cz/original.php">Original</a>
    </em>
  </div>
</body>
</html>
