{% extends "gallery/base_index.html" %}

  {% block random_thumbs_block %}
  {% for oe in random %}
     <a href="{{ oe.perm_url }}"><img src="{{ oe.thumb_url }}"></img></a>
  {% endfor %}
     <p><a style="text-decoration: none" 
           href="{{ rel_url }}/events">Events</a></p>
     {% endblock %}

     {% block category_cloud_top %}
     {% for tag in categories %}
     <a style="font-size: {{ tag.size }}px; text-decoration: none;"
        href="{{ tag.url }}">{{ tag.name }}</a>
     {% endfor %}
     {% endblock %}


  {% block tag_cloud_top %}
  {% for tag in tags %}
    <a style="font-size: {{ tag.size }}px; text-decoration: none;"
       href="{{ tag.url }}">{{ tag.name }}</a>
  {% endfor %}
  {% endblock %}

  {% block recent_thumbs_block %}
  {% for oe in recent %}
    <a href="{{ oe.perm_url }}"><img src="{{ oe.thumb_url }}"></img></a>
    {% endfor %}  
    {% endblock %}


    {% block tag_cloud_bottom %}
    
    {% endblock %}

    {% block recent_tags_cloud %}
    {% if recent_tags %}
    recent additions in the following tags:
    {% for tag in recent_tags %}
    <a style="text-decoration: none" href="{{ tag.recent_url }}">{{ tag.human_name }}</a>
    {% endfor %}
    {% endif %}
    {% endblock %}

    {% block recent_categories_cloud %}
    {% if recent_categories %}
    recent additions in the following categories:
    {% for tag in recent_categories %}
    <a style="text-decoration: none" href="{{ tag.recent_url }}">{{ tag.human_name }}</a>
    {% endfor %}
    {% endif %}
    {% endblock %}
