Some recent photos for the {{obj.human_name}} tag:
{% for photo in obj.get_recent_photos|slice:":5" %}
<a href="http://{{site.domain}}{{obj.url}}">
  <img src="{{ photo.get_exported.thumb_url }}"/>
</a>
<br/>
{% endfor %}
